* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page-content {
    background-color: #6f3c98;
}

.card {
    box-shadow: 4px 8px 14px 0 rgba(0, 0, 0, 0.25);
}

.kursus {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%) !important;
    transition: 0.3s ease;
}
.kursus:hover {
    box-shadow: 4px 8px 14px 0 rgba(0, 0, 0, 0.25) !important;
    transform: scale(1.1);
}

/* Utility */
.btn-primary {
    background-color: #6f3c98 !important;
    transition: all 0.3s ease !important;
}
.btn-primary:hover {
    background-color: #4f286f !important;
}

.garis {
    border-bottom: 4px solid #6f3c98;
}
